# General
.DS_Store
Thumbs.db
*.log
*.env
node_modules/
dist/
build/
.vscode/
.idea/
*.iml

# Frontend (React)
client/node_modules/
client/.env
client/.next/
client/out/
client/build/
client/coverage/
client/.parcel-cache/
client/yarn.lock
client/package-lock.json

# Backend (Node.js)
server/node_modules/
server/.env
server/uploads/
server/logs/
server/coverage/
server/yarn.lock
server/package-lock.json

# Python
server/__pycache__/
server/*.pyc
server/*.pyo
server/.pytest_cache/
server/.mypy_cache/
server/.venv/
server/venv/
server/env/
server/.ipynb_checkpoints/

# Ignore FFmpeg binaries
server/ffmpeg/

# Ignore temporary files
*.swp
*.swo
*.tmp
*.bak
*.old